<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
<div class="container">
  <h1>Projects</h1>
  <div class="index--Projects">
    <% if @projects %>
      <div class="cards">
        <% @projects.each do |project| %>
          <%= link_to project_path(project), class: "card--hover" do %>
            <div class="card-category">
              <p><%= project.status %></p>
              <h1><%= project.name.truncate(20) %></h1>
              <h3><%= project.description.truncate(20) %></h3>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
