<div class="container">
  <p>Status: <%= @project.status.humanize %></p>
  <h1><%= @project.name %></h1>
  <p>Description: <%= @project.description %></p>


  <h2>Comments</h2>

  <%= render @project.comments %>

  <%# <%= render 'comments/form', project: @project %> %>
</div>
